<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
            <link rel="stylesheet" href="../../static/admin/css.css">

        <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/js/uikit-icons.min.js"></script>
        <script src="https://kit.fontawesome.com/d798d3878a.js" crossorigin="anonymous"></script>
    <title>AMPLE ADMIN</title>
</head>
<body>
    
<div class="main">
    <div class="side-nav">
        <div class="account">
            <div class="profile">
                <img src="../../static/admin/images/profile.png" alt="">
            </div>
            <div class="info">
                <p class="name">John Doe</p>
                <p class="group">Admin</p>
            </div>
        </div>

        <div class="brand">
            <h2>Dashboard</h2>
        </div>

        <div class="menu">
            <a class="item">
                Home
            </a>
            <a class="item">
                Customers
            </a>
            <a class="item">
                Contracts
            </a>
        </div>
    </div>

    <div class="content">
        TEST
    </div>
</div>
</body>
</html>