<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
            <link rel="stylesheet" href="../../static/admin/css.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <link rel="stylesheet" href="../../static/uikit/css/uikit.css" />
            <script src="../../static/uikit/js/uikit.min.js"></script>
            <script src="../../static/uikit/js/uikit-icons.min.js"></script>

        <script src="https://kit.fontawesome.com/d798d3878a.js" crossorigin="anonymous"></script>
    <title>AMPLE ADMIN</title>
</head>
<body class="uk-background-secondary">
<div class="main">
    <div class="side-nav">
        <div class="account">
            <div class="profile">
                <img src="../../static/admin/images/profile.png" alt="">
            </div>
            <div class="info">
                <p class="name">John Doe</p>
                <p class="group">Admin</p>
            </div>
        </div>

        <div class="brand">
            <h2>Dashboard</h2>
        </div>

        <div class="menu">
            <a class="item">
                Home
            </a>
            <a class="item">
                Customers
            </a>
            <a class="item">
                Contracts
            </a>
        </div>
    </div>

    <div class="content">
        
         <table id="contract_data">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Customer</th>
                <th>Akce</th>
            </tr>
            <tr>
               
            </tr>
            
         </table>

         <div id="modal-example" class="uk-modal-container"  uk-modal>
            <div class="uk-modal-dialog uk-modal-body" >
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">Headline</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>



    </div>

    
</div>

<script src="../../php/modules/contract/ajax_tunnel.js"></script>
</body>
</html>